MAIL_SERVICE_PORT=4000
CORS_ORIGIN=http://localhost:3000

SMTP_HOST=smtp.mail.ru
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your-mailbox@example.com
SMTP_PASS=your-app-password

MAIL_FROM="Сибэл сайт <your-mailbox@example.com>"
MAIL_TO=sibel.tomsk@mail.ru
MAIL_REPLY_TO=your-mailbox@example.com
